.coin_search {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
  }
  
  
  .coin_input {
    background: #61636c;
    border: none;
    padding: 16px;
    border-radius: 6px;
    outline: none;
    height: 100%;
    width: 100%;
  }
  
  .coin_input::placeholder {
    color: #e2e2e2;
  }